//Backgrounds
$gradient-cadastro_bg: linear-gradient(180deg, #008AA2, #12454D);
$gradient-home_bg_dark: linear-gradient(180deg, #08262B, #026C7F);
$form-input_bg: rgba(120, 220, 239, 0.1);
$form-input_bg_alternate: #60E5FD;
$tags-bg_dark: #0C515D;
$posts-bg_dark: #1E515A;
$post-content-bg_dark: #092A2F;
$accent-color: #022c2c;


// Campos de entrada dos forms
$form-input_fontColor: #97EFFF;
$form-input_fontColor_alternate: #004B58;

// Variáveis para links
$form-visited_links: #052B42;

// Bg para botões
$form-button_bg: linear-gradient(180deg, #22B0C9, #0991A9);
$header-buttonUser_bg: #2D7C8A;
$header-buttonLogin_bg: #749FA6;

// Search-bar bg
$searchBar_bg_dark: rgba(96, 229, 253, 0.4);

// Mixin para os inputs dos forms de cadastro e login
@mixin form-input {
  background: $form-input_bg;
  font-family: "ProFont IIx Nerd Font Mono", monospace;
  box-shadow: 5px 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: $form-input_fontColor;
  width: 100%;
  text-align: center;
  max-width: 700px;
  padding: 1rem;
  margin: 0.5rem 0;
  font-size: medium;
  border: none;
  border-radius: 0.5rem;
  outline: none;
}

@mixin form-input_focus {
  background: $form-input_bg_alternate;
  color: $form-input_fontColor_alternate;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.25);
}

@mixin form-button {
  font-family: "ProFont IIx Nerd Font Mono", monospace;
  background: $form-button_bg;
  color: white;
  font-weight: bold;
  font-size: medium;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@mixin form-button_hover {
  background: $form-button_bg;
  transform: scale(1.05);
}